.tranding{
    display: block;
}

.tranding .cartContainer {
    width: 100%;
    padding: 65px;
    padding-bottom: 40px;
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.tranding .cartContainer::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

.tranding .cartContainer::-webkit-scrollbar-thumb {
    background: black; /* Color of the thumb */
    border-radius: 22px; /* Rounded corners for the thumb */
}


.tranding > h2 {
    display: inline-block;
    padding: 12px 16px ;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .02rem;
    border: 1px solid black;
    cursor: pointer;
}

.tranding > .styleChangeOne {
    background: black;
    color: white ;
}

.tranding > h2:hover {
    background-color: black;
    color: white;
}

.tranding > .newArrivals {
    margin:40px 10px  -40px 60px;
}

.tranding .card {
    width: 208px;
    height: 346px;
    display: grid;
    margin-bottom: 20px;
    grid-template-rows: repeat(2,1fr);
}

.tranding .cardImgContainer {
    position: relative;
    width: 100%;
}

.tranding .cardImgContainer  .favIcon {
    position: absolute;
    top: 6px;
    right: 6px;
}

.tranding .cardImgContainer .priceTag {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: white;
    padding: 2px 6px;
    transition: 0.5s;
}

.tranding .card:hover .priceTag {
    margin-bottom: 7px;
}

.tranding .cardImgContainer img {
    width: 100%;
}

.tranding .cardInfo {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.tranding .cardInfo p:nth-child(2){
    color: gray;
    padding: 10px 0;
}
/*===========
TRANDING LINKS
=============*/

.trandingLinks {
    padding: 20px 60px;
}

.trandingLinks > h2 {
    font-size: 30px;
    padding:  60px 0 30px;
}

.trandingLinks .linksGrid{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}

.trandingLinks .linksGrid h2 {
    position: relative;
    margin: 20px 20px 20px 8px;
    padding: 5px;
    font-size: 42px;
    cursor: pointer;
}

.trandingLinks .linksGrid h2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .07rem;
    background-color: black;
    transform: translateY(70px);
}

.trandingLinks .linksGrid h2:hover::after{
    height: .5rem;
}

.homeArticle {
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeArticle h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.homeArticle section {
    max-width: 700px;
    text-align: center;
}

.homeArticle p {
    font-size: 18px
}

.clubAdd {
    padding: 40px;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #EDE734;
}

.clubAdd h2{
    font-size: 30px;
}

.clubAdd .joinBtn {
    position: relative;
    height: 50px;
    background-color: rgb(0, 0, 0);
    margin: 14px 0;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
}

.clubAdd .joinBtn::before {
    content: "";
    position: absolute;
    top: 0.11rem;
    left: 0.1rem;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
}

  .clubAdd .joinBtn a {
    color: white;
    flex-grow: 1;
    padding: 12px;
    cursor: pointer;
    z-index: 10;
}

.clubAdd .joinBtn span {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

.homeArticalTwo {
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #F5F5E5;
}

.homeArticalTwo article {
    margin: 20px 0;
}

.homeArticalTwo article p{
    padding: 0 20px;
}

.homeArticalTwo h2 {
    margin-left: 20px;
    margin-bottom: 14px;
}

@media (max-width:660px) {
    
    .tranding .cartContainer {
        padding: 30px;
    }

    .tranding > h2:first-child {
        margin: 40px 30px 10px;
    }

    .trandingLinks {
        padding: 20px;
    }

    .trandingLinks > h2 {
        font-size: 24px;
        padding: 0 10px 10px;
    }

    .trandingLinks .linksGrid{
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(1,1fr);
    }

    .trandingLinks .linksGrid h2 {
        margin: 10px;
        padding: 0;
        font-size: 36px;
    }

    .trandingLinks .linksGrid h2::after {
        transform: translateY(54px);
    }

    .trandingLinks .linksGrid h2:hover::after{
        height: 0.09rem;
    }

    .clubAdd {
        height: 215px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
 
    .clubAdd h2{
        font-size: 30px;
        font-weight: 900;
        letter-spacing: .06rem;
        padding: 0 25px;
        text-align: center;
    }
    
}

@media (max-width:950px) {
    .homeArticalTwo {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 25px;
    }
    
    .homeArticalTwo article p{
        margin: 20px auto;
        padding: auto 10px;
    }
    
    .homeArticalTwo h2 {
        margin-bottom: 20px;
    }
}