@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AdihausDIN";
    text-decoration: none;
    list-style: none;
    color: black;
    -webkit-tap-highlight-color: transparent; /* Safari/Chrome */
    tap-highlight-color: transparent; /* Firefox */
}

:root {
    --bg-color : #ECEFF1;
    --header-height:79px;
    --header-notice : 40px;
}

body {
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 20;
    transition: all 0.3s;
    border-bottom: 0.1rem solid #ECEFF1;
}

.headerNotice {
    height: var(--header-notice);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: black;
}

.headerNotice p {
    color: white;
}

.arrow {
    width: 9px;
    height: 9px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    cursor: pointer;
}

.addidasLogo {
    position: absolute;
    top: calc(var(--header-notice) + 25px);
    left: 40px;
    width: 60px;
}

.addidasLogoTwo {
    position: absolute;
    top: calc(var(--header-notice) + 24px);
    left: 80px;
    height: 41px;
    width: 100px;
}

.hideNavBar {
    transform: translateY(-100%);
}

.navContainer{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridColumnOne svg{
    display: none;
}

.additionalLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    color:rgba(128, 128, 128, 0.705);
    padding:6px 20px;
    font-size: 12px;
    width: 100%;
}

nav {
    width: 100%;
    height: 52px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.navList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuIconsStyles {
    display: none;
}

.navList > li {
    
    padding:12px 10px;
    font-size: 14px;
    text-wrap: nowrap;
}

.navList > li >a {
    letter-spacing: 2.1px;
}

.bold {
    font-weight:700;
}

.inputContainer {
    max-width: 168px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ECEFF1;
    padding-right: 4px;
}

.inputContainer input {
    height: 32px;
    min-width: 120px;
    padding: 0 10px ;
    background-color: #ECEFF1;
    border: none;
    outline: none;
}

.inputContainer input::placeholder{
    color: black;
    font-size: 14px;
}

.inputContainer svg {
    cursor: pointer;
}

.shopNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.shopNavList {
    display: flex;
    align-items: center;
}

.shopNavList > li > a{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 12px;
}

.shopNavList > li:first-child {
    position: relative;
}

.Count {
    position: absolute;
    top: 0px;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFD730;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList > li:hover {
    border-bottom: 3px solid black;
}

/*========
SUBMENU CSS
========*/

.navList li:hover .subMenu{
    display: grid;
}

.subMenu {
    position:fixed;
    top: calc(var(--header-height) + var(--header-notice));
    left: 0;
    right: 0;
    display: none;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto 40px;
    background-color: white;
    border: 1px solid #ECEFF1;
}

.menu-col-1{
    padding: 20px ;
    padding-left: 80px;
    width: 300px;
    border-bottom: 2px solid #ECEFF1;
}

.menu-col-6{
    padding-right: 80px;
}

.menuCol:not(:first-child){
    border-bottom: 1px solid #ECEFF1;
    padding: 20px ;
}

.menuCol h4 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
}

.menuCol li {
    margin-bottom: 6px;
}

.menuCol li > a{
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: left ;
    color: rgb(58, 58, 58);
}

.menuCol li a:hover {
    text-decoration: underline;
}

.menu-col-1 {
    border-right: 1px solid #ECEFF1;
   
}

.menu_footer-1 {
    border-right: 1px solid #ECEFF1;
}

.menu_footer {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-left: 8px;
    text-transform:lowercase;
    text-transform:uppercase;
}

.contentPusher {
    width: 100%;
    height: 100px;
    z-index: -10;
}

.mobileNav {
    display: none;
}