@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AdihausDIN";
    text-decoration: none;
    list-style: none;
    color: black;
    -webkit-tap-highlight-color: transparent; /* Safari/Chrome */
    tap-highlight-color: transparent; /* Firefox */
}

:root {
    --bg-color : #ECEFF1;
    --header-height:79px;
    --header-notice : 40px;
}
.globleLinkStyle {
  text-decoration: none;
  cursor: pointer;
}